*{
    color: black;
    margin: 0%;
    text-decoration: none;
    padding: 0%;
}

img{
    width: 600px;
    height: 600px;
}

.image-container{
    border-color: blueviolet;
    border-width: 1px;
    border-radius: 30px;
    display: grid;
}

.content-container{
    align-items: center;
    justify-content: center;
}

.tittle{
    font-size: x-large;
}

.content{
    font-size: large;
}

.hello-text{
    font-size: 40px;
}

.highlight{
    font-size: 50px;
}

.name-highlight{
    margin-left: 40px;
}

.button-group{
    display: flex;
    align-items: center;
}

.btn-primary, .btn-secondary{
    width: 200px;
    height:50px;
    padding: 10px;
    border: black;
    border-width: 2px;
    border-style:outset;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    align-content: center;
    font-size: medium;
    font-weight: bold;
}
