/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
  color: #111827;
}

/* Header styling */
header {
  background-color: #ffffff;
  color: #111827;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container styling */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Link styling */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #15133f;
}

/* Logo styling */
header .container a {
  display: flex;
  align-items: center;
  color: #15133f;
}

header .container a svg {
  width: 32px;
  height: 32px;
  fill: #1f1d44;
}

/* Navigation Links */
ul {
  display: flex;
  gap: 1rem;
}

ul li a {
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-color 0.3s;
}

ul li a:hover {
  color: #4f46e5;
  border-color: #4f46e5;
}

/* Active Link */
ul li a.dark\\:text-violet-600 {
  color: #4f46e5;
  border-color: #4f46e5;
}

/* Mobile Menu Button */
button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: #111827;
  cursor: pointer;
}

button svg {
  width: 24px;
  height: 24px;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  ul {
      display: none;
  }

  button {
      display: block;
  }
}
